.header {
  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__image {
  width: 100%;
  max-width: 243.48px;
}

.header__logo {
  cursor: pointer;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header__link {
  font-size: var(--font-size-preset-7);
  color: var(--color-neutral-900);
}

.active {
  border-bottom: 3px solid var(--color-orange-500);
}

.burger {
  display: none;
}

.burger-time {
  cursor: pointer;
  color: var(--color-neutral-900);
  border-radius: 4px;
  gap: 0.8rem;
  border: none;
  padding: 1.1rem 1.4rem;
  background-color: var(--color-neutral-300);
}

.burger__box {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 8px;
  background-color: var(--color-neutral-0);
  padding: 8px;
  z-index: 1000;
}

.burger__list {
}

.burger__item {
  padding: 12px 8px;
  padding-right: 8px;
}

.header__link {
}

.burger__btn {
  margin-top: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__list {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .header__logo {
    margin-right: auto;
  }

  .burger {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .burger__box {
    width: 90%;
  }
}
