.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ready {
  width: 100%;
  max-width: 1192px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--color-neutral-220);
  text-align: center;
  border-radius: 1.6rem;

  background-image: url("/images/pattern-fork.svg"),
    url("/images/pattern-knife.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 338px 338px, 338px 338px;
  background-position: left -9.7rem bottom, right -9rem bottom;
}

.ready__title {
  padding-top: 9.6rem;
  padding-bottom: 1.2rem;
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-wider);
  font-size: var(--font-size-preset-2);
  color: var(--color-neutral-900);
  font-weight: 800;
}

.ready__text {
  color: var(--color-neutral-800);
}

.ready__btn {
  margin-top: 4rem;
  margin-bottom: 9.6rem;
}

@media screen and (max-width: 768px) {
  .ready {
    background-image: url("/images/pattern-fork.svg"),
      url("/images/pattern-knife.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 238px 238px, 238px 238px;
    background-position: left -6.7rem bottom, top -7rem right;
  }
}

@media screen and (max-width: 375px) {
  .ready {
    background-image: none;
  }

  .container {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .ready__title {
    font-size: var(--font-size-preset-2-mobile);
  }
}
